<div class="table table-bordered">
<%= form_with(model: advance, local: true) do |form| %>
  <% if advance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(advance.errors.count, "error") %> prohibited this advance from being saved:</h2>

      <ul>
      <% advance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, class:"form-control", required: true %>
  </div>
  <% if current_user.admin? || current_user.super_user? %>
  <div class="field">
    <%= form.label :Date %>
    <%= form.date_field :created_at, class: "form-control", required: true %>
  </div>
  <% end %>

  <div class="field">
<!--     <%= form.label :account_id %>
  <%= form.select :account_id, options_from_collection_for_select(current_user.hotels.first.accounts, "id", "name"),:include_blank => true, style:"width: 10%; height:25px;"%> -->
  <%= form.hidden_field :account_id, value: @account_id %>
  <%= form.hidden_field :meat, value: @meat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
