<%= link_to "Home", root_path, :class => 'navbar-link btn btn-danger btn-sm pull-right', style:'color: white'  %>
<table class="table table-bordered">
	<thead >
		<tr>
			<th>name</th>
			<th>Email</th>
			<th>Contact</th>
			<th>Address</th>
			<th>Joined at</th>
			<th>Role</th>
			<th>Actions</th>>
		</tr>
	</thead>
	<%@users.order("created_at DESC").each do |user|%>
	<% if user.admin? %>
	<tr>
		<td color='red'><%=user.name%></td>
		<td><%= user.email%></span></td>
		<td><%= user.contact%></td>
		<td><%= truncate(user.address)%></td>
		<td><%= user.created_at.to_date%></td>
		<td style="color: green;"> Admin</td>
		<td> No Access</td>
	</tr>
	<%else%>
	<tr>
		<td><%=user.name%></td>
		<td><%= user.email%></td>
		<td><%= user.contact%></td>
		<td><%= truncate(user.address, length: 15) %></td>
		<td><%= user.created_at.to_date%></td>
		<% if user.sale? %>
		  <td style="color: green;"> Sales Man</td>
		 <%else%>
		  <td style="color: green;"> Normal User</td>
		 <%end%>
		 <% if !user.admin?%>
		  <td><%= link_to "make sales", role_orders_path(user_id: user.id, sale: true)%></td>
          <td><%= link_to "make Admin", role_orders_path(user_id: user.id, admin: true)%></td>
		  <td><%= link_to "Remove access", role_orders_path(user_id: user.id, sale: false)%></td>
		 <%end%>

	</tr>
	<%end%>
	<%end%>
</table>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @users %>
    </div>
    <%= will_paginate @users, :container => false %>
</div>