<style type="text/css">
	.remove{
		display: none;
	}
	p{
		font-size: 20px;
		color: black;
	}
</style>
<%if Hotel.first.users.pluck(:id).include?(current_user&.id) %>
  <center><%= image_tag('poly.png', :style => "width:152px; height:108px; padding: 0px;") %></center>
  <%elsif Hotel.find(5).users.pluck(:id).include?(current_user.id)%>
  <center><%= image_tag('brando.png', :style => "width:152px; height:108px; padding: 0px;") %></center>
<%else%>
 <center><h4 style = "font-family:courier,arial,helvetica;font-size: 20px;"><b><%= current_user.hotels.first.name%></b></h4></center>
<%end%>
<p id="notice"><%= notice %></p>
<%= link_to "Home", root_path, :class => 'navbar-link btn btn-danger btn-sm pull-right', id: "home", style:'color: white'  %> 
<%= link_to "Edit", edit_order_path(id: @order.id), :class => 'navbar-link btn btn-primary btn-sm pull-right', id: "Edit", style:'color: white; margin-right: 10px'  %><p> </p>

<div class="hotel">
<p><b>
  <%= @order.customer_name %>
</b></p>
<p><b>
#:<%= @order.id %>
</b></p>
<p><b>
<%= @order.created_at.in_time_zone("Islamabad").strftime("%I:%M%p %d/%m/%Y") %>
</b></p>
<% @other = @order.other_charges || 0 rescue 0 %>

<%if @other > 0 %> 
<p><b>
Other Rs:<%= @other %>
</b></p>
<%end%>
<b style="float: right; color: black;">Sale Man: <%= @order.user&.name %></b>
<table class="table table-bordered">
	<tr>
		<td>Name</td>
		<td>Qty</td>
		<td><span style="float: right;">Rate</span></td>
		<td><span style="float: right;">Total</span></td>
	</tr>
	<% x = 1 %>
	<% y = 1 %>
	<%@order.order_products.order(:total).reverse.each do |product|%>
	<tr>
		<td style="direction: rtl; font-size: 10px; font-family: 'Noto Naskh Arabic', serif; padding: 0px 50px 0px 0px; text-align: left;"><b><%= product.name %></b></td>
		<td><%= product.quntity%></td>
		<td><span style="float:right;"><%= product.price %></span></td>
		<td><span style="float:right;"><%= product.total %></span></td>
	</tr>
	<% x = x + 1 %>
	<% y = y + 1 %>
	<%end%>

</table>
<div id="last" style="display: none;" ><%= x-1 %></div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
	<% if @order.discount > 0%>

	<span style="font-size: 15px;" >Total amount:</span> <span id="grand_total" class="pull-right" style="font-size: 15px;"><%= @order.order_products.pluck(:total).sum + @other %> </span>
	<p><span style="font-size: 15px;" > Disc:</span> <span class="pull-right"  style="font-size: 15px;"> <%= @order.disc %></span></p>
	<p><span style="font-size: 15px;" >Net total:</span> <span class="pull-right"  style="font-size: 15px;"> <%= @order.total%></span></p>
	<%else%>
	<p style="margin-top: 10px; margin-bottom: 10px;"><span style="font-size: 14px;" ><b>Total Amount:</b></span> <span style="font-size: 18px; id="grand_total" class="pull-right" ><b><%= @order.total%></b></span></p>
	<%end%>

</div>
</div>
</div>
</div>
<% if current_user.sale? || current_user.admin?%>
	<button onclick="removebtn()" id="print" class="btn btn-danger">Print recipte</button>
<%end%>

<center><h4 style="font-style: oblique; font-size: 15x;">Thank you for your order here</h4><p><b><%= current_user.hotels.first.contact %></b></b><p><b><%= current_user.hotels.first.address%></b></p></center>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
 </script>

 <script >
 	$('#print').click(function()
 	{
 		window.print();
 		location.reload();
 		document.getElementsById("1").setAttribute("class", "remove_button");
 		document.getElementsById("2").setAttribute("class", "remove_button");
 		// $("#home").prop("class", "remove"); 
 		document.getElementsById("print").setAttribute("class", "remove_button");  
 	});
 </script>

 <script>
 	$( document ).ready(function() {
    	calculate();
	});
 	// let plus = 0;
    function calculate() {
        var i = 1;

        var plus = 0;

        var last = parseInt(document.getElementById('last').innerText);

		for (i = 1; i <= last; i++) {

	        var myBox1 = document.getElementById('box1_'+i).value;

	        var myBox2 = document.getElementById('box2_'+i).innerText;

	        var myResult = myBox1 * myBox2;
	        // console.log(myResult);

			document.getElementById('result_'+ i).innerText = myResult;

		  plus +=  parseInt(document.getElementById('result_'+i).innerText);

        document.getElementById('grand_total').innerText = plus;
		}

    }
    // document.getElementById('grand_total').innerText = plus;


</script>
<script type="text/javascript">
	function removebtn(){
	// document.getElementsByTagName("button")[0].setAttribute("class", "remove");
	// document.getElementById("edit").setAttribute("class", "remove");
	// document.getElementById("back").setAttribute("class", "remove");
	$('#print').css('display', 'none');
	$('#home').css('display', 'none');
	$('#Edit').css('display', 'none');
	
  }

</script>