<p class="pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link btn btn-success btn-sm',style:'color: white' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link btn btn-danger btn-sm', style:'color: white'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link', class: 'btn btn-success btn-sm'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %> |
<%= link_to 'back to home', root_path, class: "btn btn-warning", style: "color: white;" %>
</p>
<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<h2 style="float: right;"> Qty: <%= @total_qty %>=/=</h2>

<h1>Today's Sold Products</h1>
<br>
<%= form_tag :sold_products_orders, method: :get do %>
  <%= date_field_tag :date%>
<%= submit_tag("Search") %>
<%end%>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>id#</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Orders links</th>
    </tr>
  </thead>

  <tbody>
    <% @products.uniq {|e| e.name }.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= @products.where(name: product.name).size %></td>
        <td>
        <% @products.where(name: product.name).each do |e| %>
          <%= link_to e.order_id, order_path(id: e.order_id), class: "btn btn-warning", style: "color: white;" %>|
        <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
