<%= form_with(model: meat, local: true) do |form| %>
  <% if meat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meat.errors.count, "error") %> prohibited this meat from being saved:</h2>

      <ul>
      <% meat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="field">
    <%= form.label :qty %>
    <%= form.text_field :qty, class:"form-control", required: true %>
  </div>
  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, class:"form-control", required: true %>
    <%= form.hidden_field :account_id, value: @account_id %>
  </div>

  <div class="field">
    <%= form.label :cat_type %>
        <%= form.select(:cat_type, Meat.cat_types.keys.map {|cat| [cat.titleize,cat]}) %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
