<p id="notice"><%= notice %></p>

<h1>Hotels</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact</th>
      <th>Address</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.name %></td>
        <td><%= hotel.contact %></td>
        <td><%= hotel.address %></td>
        <td><%= hotel.active? ? "Blocked": "Working"%></td> 
        <td><%= link_to 'Edit', edit_hotel_path(hotel) %></td>
        <td><%= link_to 'Block', access_hotel_path(id: hotel.id, active: true) %></td>
        <td><%= link_to 'unblock', access_hotel_path(id: hotel.id, active: false) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


