<button onclick="removebtn()" style="float:right; margin-right: 20px;" id="print" class="btn btn-sm btn-warning">Print Report</button>
<a href="<%= accounts_path %>" style="float:right; margin-right: 20px;" class="btn btn-sm btn-primary">Accounts</a><br>
<%#= link_to 'Accounts', accounts_path, class:"btn btn-primary", style:"float:right;" %>

<br>
<p style="float: left; color: black;">Name: <%= Account.find_by(id: @account_id)&.name %></p>
<p style="float: right; color: black;">Print by: <%= @current_user&.name %></p>
<center><%= form_tag :detail_milks, method: :get do %>
<%= date_field_tag :date%>
<%= submit_tag("Search") %>
<%end%>
</center>
Date: <%= @date.strftime("%d/%m/%Y") %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Milk</th>
      <th>Can Weight</th>
      <th>Real weight</th>
      <th>Rate</th>
      <% if current_user.admin? %>
      <th>Created_by</th>
      <%end%>
      <th>Total</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @detail_milks&.each do |detail_milk| %>
      <tr>
        <td><%= detail_milk.milk %></td>
        <td><%= detail_milk.weight %></td>
        <td><%= detail_milk.milk - detail_milk.weight %></td>
        <td><%= detail_milk.rate%></td>
        <% if current_user.admin? %>
          <td><%= detail_milk&.user&.name%></td>
        <%end%>
        <td><%= detail_milk.total%></td>
        <td><%= detail_milk.created_at.in_time_zone("Islamabad").strftime("%I:%M%p %d/%m/%Y") %></td>
        <%if current_user.admin?%>
        <td><%= link_to 'Destroy', detail_milk_path(id: detail_milk, account_id: @account_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<br><h5 style="float: right;">Total amount: Rs. <%= @today_sale %></h5>
<h5 style="float: right; margin-right: 50px;">Total Milk: <%= @milk_total %></h5>
<%= link_to 'Add new milk details', new_detail_milk_url(id: @account_id), class:"btn btn-primary", style:"color:white", id:"milk" %>
<br>



<h4 id="advnce">Advances</h4>
<table class="table table-bordered" id="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Account</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @advances&.order("created_at DESC")&.each do |advance| %>
      <tr>
        <td><%= advance.amount %></td>
        <td><%= advance.account.name %></td>
        <td><%= advance.created_at.in_time_zone("Islamabad").strftime("%I:%M%p %d/%m/%Y") %></td>
        <%if current_user.admin?%>
        <td><%= link_to 'Destroy', advance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h5 style="float: right;">Advance Total: Rs. <%= @advance %></h5>
<%= link_to 'New Advance',  new_advance_path(id: @account_id), class:"btn btn-primary", id:"adv"%>

  <h4>Today's Calculation</h4>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th>Total credit</th>
      <th>Total advance</th>
      <th>Payment</th>

    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @today_sale %></td>
        <td><%= @advance %></td>
        <% if @today_sale.present? && @advance.present? %>
        <td><%= @today_sale - @advance  %></td>
        <% end %>
      </tr>
  </tbody>
</table>



<script type="text/javascript">
  function removebtn(){
  // document.getElementsByTagName("button")[0].setAttribute("class", "remove");
  // document.getElementById("edit").setAttribute("class", "remove");
  // document.getElementById("back").setAttribute("class", "remove");
  $('#advnce').css('display', 'none');
  $('#table').css('display', 'none');
  $('#print').css('display', 'none');
  $('#home').css('display', 'none');
  $('#next').css('display', 'none');
  $('#show1').css('display', 'none');
  $('#prev').css('display', 'none');
  $('#show').css('display', 'none');

  $('#adv').css('display', 'none');
  $('#milk').css('display', 'none');
  
  }

</script>
 <script >
  $('#print').click(function()
  {
    window.print();
    location.reload();
    document.getElementsById("1").setAttribute("class", "remove_button");
    document.getElementsById("2").setAttribute("class", "remove_button");
    // $("#home").prop("class", "remove"); 
    document.getElementsById("print").setAttribute("class", "remove_button");  
  });
 </script>
