  <!DOCTYPE html >
<html>
  <head>
    <title>Al Madni Hotel</title>
     <%= csrf_meta_tags %>
     <%= csp_meta_tag %>
     <%= stylesheet_link_tag    "application", :media => "all" %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
   </head>
  <body>
  <%if current_user.present? %>
  <% if Hotel.first.users.pluck(:id).include?(current_user&.id) && !@show_image.present? %>
  <center><%= image_tag('photo.png', :style => "width:180px; height:130px; padding: 0px;") %></center>
  <%else%>
   <%if current_user&.hotels&.any?%>
     <center><h4 style = "font-family:courier,arial,helvetica;font-size: 15px;"><%= current_user.hotels.first.name%></h4></center>
   <%else%>
   <center><h3>Your Next Step to create Hotel From Side Bar</h3></center>
   <%end%>
  <% end %>
  <%end%>
  <% if @show_image.blank?%>
    <%= link_to "Home", root_path, :class => 'navbar-link btn btn-danger btn-sm pull-right', style:'color: white', id:"home"  %>
  <%end%>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= yield %>
  </body>
</html>
